.cover {
    background-image: url(../../img/cover.jpg);
    @extend .backgroundImg;
    // kế thừa id, tên thẻ
    // @extend #id còn tên thẻ @extend tên thẻ
    height: 500px;
    position: relative;
    .cover__content {
        position: absolute;
        left: 12%;
        top: 50%;
        transform: translateY(-50%);
        max-width: 500px;
        h1 {
            @include styleText($color-white-0, $fs-2, $fw-2);
        }
        p {
            @include  styleText($color-white-0, $fs-3, $fw-0);
        }
        .cover__form {
            @include styleFormSearch($color-white-0, $color-white-0, $color-white-0, $color-black-light);
        }
        .form-control:focus + .input-group-text {
            border-top: 0;
            border-bottom: 0;
            // border-right: $color-red-0 !important;
            border-left: $color-white-0;
            border-right: $color-white-0 !important;
        }
    }
    @include responsive("small") {
        .cover__content {
            max-width: 400px;
            left: 10%;
        }
    }
}