// Viết đương dẫn trong sass nhưng gõ lại đường dẫn trong file main.css
.backgroundImg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
// PLACEHOLDER
// %backgroundImg {
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }